<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>其他</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="/static/images/favicon.ico">
  <link rel="stylesheet" href="/static/layui/css/layui.css">
  <script type="text/javascript" src="/static/layui/jquery-1.9.1.min.js"></script> 
  <script type="text/javascript" src="/static/layui/layui.all.js"></script> 
  <script src="/static/laydate/laydate.js"></script>
 
 <script type="text/javascript">
var form ;
;!function(){
  //无需再执行layui.use()方法加载模块，直接使用即可
    form = layui.form ;
      layer = layui.layer; 
    laydate = layui.laydate;
}();
</script>
 
</head>
<body>
  <img src="/static/images/404.jpg />
</body>
</html>